@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/fonts.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'cmunrm', serif;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  /* Remove redundant font-family declaration since it's inherited */
  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
  }
}

@layer components {
  .project-name {
    border-radius: 5px;
    background-color: rgba(135,131,120,.15);
    color: #ff4081;
    font-size: .9em;
    padding: .2em .4em;
    word-break: break-word;
    font-family: monospace;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
