@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cmunrm';
  src: url('/fonts/cmunrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth font-cmunrm;
  }

  body {
    @apply bg-background text-foreground font-cmunrm;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-cmunrm;
  }
}

@layer components {
  .project-name {
    border-radius: 5px;
    background-color: rgba(135,131,120,.15);
    color: #ff4081;
    font-size: .9em;
    padding: .2em .4em;
    word-break: break-word;
    font-family: monospace;
  }

  /* Add specific rules for project descriptions */
  main article ul li {
    font-family: 'cmunrm', serif !important;
  }

  main article ul li span {
    font-family: 'cmunrm', serif !important;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
